openai
python-dotenv
pandas
duckdb
tiktoken
pypdf
pdfplumber
reportlab
pytesseract
Pillow
pdf2image
openpyxl
streamlit
transformers
torch
safetensors
faiss-cpu
joblib
scikit-learn
fastapi
datasets
accelerate
